.abpro{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background: #486243;
    width: 70%;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.about img{
    width: 450px;
    height: auto;
    margin: 0 20px 20px 0;
    border-radius: 25px 0px 0px 25px;
}
.about p {
    width: 50%;
    margin: 10px 20px;
    font-family: 'mrgvali';
    color: white;
    font-size: 14px;
}
.abus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.abus h1{
    color: #486243;
    font-family: 'nino';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 80px 0 40px 0;
}
*{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'mrgvali';
    src: url('./bpg_mrgvlovani_caps_2010.ttf');
}

@media screen and (min-width: 200px) and (max-width:1000px){
    .about{
        flex-direction: column;
        width: 100%;
    }
    .about img{
        width: 100%;
        margin: 0;
        border-radius: 25px 25px 0 0;
    }
    .about p{
        width: 100%;
        padding: 0 10px;
        font-size: 12px;
        text-align: center;
    }
}